
input {
    color : #0f3c69;
    background-color: #eee;
    border: 1px solid #0f3c69;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 3px !important;

    /* width: 150px; */
    /* width: 100%; */
    
    
}
.company-form{
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 1000px;
    /* border: #0f3c69;
    border: solid 1px; */
    border-radius: 10px;
    justify-items: flex-start;
  }
 
.savebtn{
      background-color:  #0f3c69;
      color: #fff;
      cursor: pointer;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 20px;
      font-size: 12px;
}  
.form-heading {
    text-align: center;
    margin-bottom: 20px;      
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: #0f3c69;
  }

  .label {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #0f3c69;
    /* padding-right: 100px; */
  }

  .width-50{
    width: 50%;
    /* justify-content: center; */
    align-items: center;
}

input::file-selector-button{
    background-color: #0f3c69 !important;
    color: wh;
}

.radio-button {
    margin-right:5px; 
    border-radius:50% !important;
}