@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
/* @import './components/CustomNav'; */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


:root {
  --backgroundColor: white;
  --textcolor: #000000;
  --borderLeftColor: #0f3c69;
}

* {
  margin:0;
  padding:0px;
}

.navbar-menu {
  height:100vh;
  background-color:var(backgroundColor);
  box-shadow: 1px 1px 7px rgba(0,0,0,0.15);
  transition: all 0.5s ease;
    position: absolute;
    top: 0px;
    left: 0px;
}
.burger{
  display:flex;
  justify-content: flex-end;
}
.burger img {
  padding: 25px 8px 0px 0px;
  cursor: pointer;
}
.navbar__list {
  list-style-type: none;
  
}
.navbar__li {
  display: inline-block;
  padding:0px 0px 0px 12px;
  position: relative;
  top:2.5px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 38px;
  color: var(--textcolor);
  font-family: "Lato";
  font-weight: 400;
}
.navbar__li-box:first-child {
  margin-top:53px;
  
}
.navbar__li-box {
  height: 43px;
  margin-top:15px;
  display: flex;
}
.navbar__li-box:hover {
  border-left: 7px solid var(--borderLeftColor);
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px  black;
  color : white;
  background-color: #0f3c69;
  padding: 10px 10px;
  width : 200px;
  border-radius: 6px;
  font-size: 14px;
  margin-left: 5px;
  white-space: nowrap;
  height: auto;
}

.active {
  /* background-color: purple; */
  border-left: 5px solid #0f3c69;
}

.navbar__li-box:hover .tooltip {
  visibility: visible;
}



